<script type="text/javascript" src="qtip/jquery.qtip.min.js"></script>
<link rel="stylesheet" type="text/css" href="qtip/jquery.qtip.css" />    

<style>
.qtip{
    maxWidth: 550px !important;
}

</style>
<script>
var records=<%-recordsJSON%>;
</script>
</script>
<script type="text/javascript">
(function(){
    try{
        jQuery.fn.qtip.defaults['style']['classes']='qtip-light qtip-rounded qtip-shadow';
    }catch(e){}
})();
</script>
 <style>
.barTable{
    width:100%;
    min-width:600px;
    height:220px;
}
.hasPerson {
    background-color:  red;
}
.hasNoPerson {
    background-color:  green;
}
#content{
    padding-top: 0px !important;
}
.wrapText{ 
    /*width:5px;
    display:table;*/
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
 </style>

<div class="row">
<table style="width:100%">
    <tr>
        <td><%=startDate%></td>
        <td class="text-right"><%=endDate%></td>
    </tr>
</table>
<table class="barTable">
    <tr>
        <% for(let i=0;i<records.length;i++){ %>
        <td 
            id="imgBox_<%=records[i]['id']%>"
            style="width:<%=600/records.length%> px" 
            class="imgTd <%=records[i]['has_person']==1?'hasPerson':'hasNoPerson'%>"
            data-image-url="<%=records[i]['url']%>"
            data-image-id="<%=records[i]['id']%>"
            data-image-timestamp="<%=records[i]['timestamp']%>"
            data-image-date="<%=records[i]['date']%>"
            data-image-confidence="<%=records[i]['confidence']%>"
            data-image-key="<%=i%>"
        >
        </td>
        <% } %>
    </tr>
 </table>
 </div>
<script type="text/javascript">
SystemManager(function(){
	jQuery('.imgTd').qtip({
	    content: {
	        text: function(){

                function text2html(str)
                {
                    return jQuery('<div></div>').text(str).html();
                }

                var imgUrl=jQuery(this).data('image-url');
                var timestamp=jQuery(this).data('image-timestamp');
                var date=jQuery(this).data('image-date');
                var confidence=jQuery(this).data('image-confidence');
                var key=parseInt(jQuery(this).data('image-key'));
                var data=records[key];
                return '<table style="width:1000px; width:98%"><tr><td><b>Time Stamp: '+timestamp+'</b><br/>'+
                '<b>Date Time: '+date+'</b><br/>'+
                '<b>Confidence: '+confidence+'</b><br/>'+
                '<img src="'+imgUrl+'"></td>'+
                '<td class="text-top" valign="top"><div class="well wrapText" style="max-width:300px">'+text2html(JSON.stringify(data))+'<div></td>'+
                '</tr></table>';
            }
	    },
	    position: {
	    	//at: 'left bottom',
	    	viewport: jQuery(window)
	    },
	    show: {
            solo: '.imgTd',
            delay: 1
        },
        style:{
            width: "1124px"
        }
	});
	
});
</script>
</script>