<script type="text/javascript" src="qtip/jquery.qtip.min.js"></script>
<link rel="stylesheet" type="text/css" href="qtip/jquery.qtip.min.css" />    

 
 <script>
 var data=<%-recordsJSON%>;
 console.log(data);
 </script>
<script type="text/javascript">
(function(){
    try{
        jQuery.fn.qtip.defaults['style']['classes']='qtip-light qtip-rounded qtip-shadow';
    }catch(e){}
})();
</script>
 <style>
.barTable{
    width:100%;
    min-width:600px;
    height:120px;
}
.hasPerson {
    background-color:  red;
}
.hasNoPerson {
    background-color:  green;
}
 </style>
 
 <table class="barTable">
    <tr>
        <% for(let i=0;i<records.length;i++){ %>
        <td 
            id="imgBox_<%=records[i]['id']%>"
            style="width:<%=600/records.length%> px" 
            class="imgTd <%=records[i]['has_person']==1?'hasPerson':'hasNoPerson'%>"
            data-image-url="<%=records[i]['url']%>"
            data-image-id="<%=records[i]['id']%>"
        >
        </td>
        <% } %>
    </tr>
 </table>
 
<script type="text/javascript">
SystemManager(function(){
	jQuery('.imgTd').qtip({
	    content: {
	        text: function(){
                var imgUrl=jQuery(this).data('image-url');
                return '<img src="'+imgUrl+'">';
            }
	    },
	    position: {
	    	at: 'left bottom',
	    	viewport: jQuery(window)
	    },
	    show: {
	        solo: '.imgTd'
	    }
	});
	
});
</script>
</script>